In [21]:
import pandas as pd
import numpy as np
import matplotlib as plt

frame = pd.read_csv('mainData.csv')
frame.head()

   Order       Name Sex  Count  Year
0      0       Mary   F   7065  1880
1      1       Anna   F   2604  1880
2      2       Emma   F   2003  1880
3      3  Elizabeth   F   1939  1880
4      4     Minnie   F   1746  1880

In [32]:
%matplotlib inline
copy = frame.drop(['Order','Name'], axis = 1)
group_s_y = copy.groupby(['Sex','Year'])['Count'].sum()
print(group_s_y([group_s_y.Sex = 'F'])
print(group_s_y[:20])

SyntaxError: invalid syntax (<ipython-input-32-d377a3a898f5>, line 4)